body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    text-align: center;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    margin-left: 0.7rem;
}